/*----------ESTILOS GENERALES----------*/
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	width: 98%;
	height: auto;
	background-image: url("../img/TableroPortada.jpg");
	background-size: cover;
}
img .preguntas3.img-responsive.img-circle {
	position: absolute;
	top: 200px;
}
h2 {
	background-color: rgba(166,166,166,0.8);
	padding: 20px;
	position: absolute;
	margin-top: 100px;
	margin-left: 50px;
	font-size: 48px;
	color: #0000ff; 
}
h3 {
	background-color: rgba(166,166,166,0.8);
	padding: 20px;
	position: absolute;
	margin-top: 500px;
	font-size: 48px;
	color: #0000ff; 
}
}
